@import url(../fonts/stylesheet.css);
@import url(../fonts/imoon/style.css);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Segoe UI", sans-serif;
  position: relative; }

.container {
  max-width: 114rem;
  margin: 0 auto;
  position: relative; }

p {
  margin: 0; }

h3 {
  text-transform: unset; }

ol,
ul {
  padding: 0; }

a {
  text-decoration: none; }

.container,
.container-fluid {
  padding: 0; }

.popup {
  background: #2980b9;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center; }
  .popup-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center; }

button {
  cursor: pointer;
  background-color: #fff;
  color: #2980b9;
  border: 0;
  margin-top: 2rem;
  padding: 1.2rem 2rem;
  font-size: 1.6rem; }
  button:active {
    transform: scale(0.98); }
  button:focus {
    outline: none; }

h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 2.6rem; }

p {
  font-size: 1.6rem; }

main {
  height: 100vh;
  background-color: #34495e;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden; }
  main h1 {
    margin: 0 0 1rem 0; }

.game-container {
  padding: 2rem 3rem;
  position: relative;
  height: 35rem;
  width: 45rem; }

.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round; }

.figure-part {
  display: none; }

.wrong-letters-container {
  position: absolute;
  top: 3rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  text-align: right; }
  .wrong-letters-container p {
    margin: 0 0 .5rem;
    font-size: 1.4rem; }
  .wrong-letters-container span {
    font-size: 2.4rem; }

.word {
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%); }

.letter {
  border-bottom: 3px solid #2980b9;
  display: inline-flex;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  margin: 0 .3rem;
  height: 5rem;
  width: 2rem; }

.notification-container {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1rem 1rem 0 0;
  padding: 1.5rem 2rem;
  position: absolute;
  bottom: -5rem;
  transition: transform .3s ease-in-out; }
  .notification-container.show {
    transform: translateY(-5rem); }
  .notification-container p {
    margin: 0; }
